@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto');


html {
    /* Background */
    background-color: #171121;

    /* Alignment */
    text-align: center;

    /* Font */
    font-family: 'Inconsolata', monospaced;
    font-color: #217a6e;
}


.main-body {
    /* Container */
    max-width: 900px;
    min-height: 900px;

    /* Alignment */
    margin: 0 auto;
}
