.main-title {
    /* Alignment */
    margin: 3em;
    float: left;

    /* Font */
    text-transform: lowercase;
    color: #8ccbff;
    text-shadow: 1px 1px #777777;
}


.main-title h1 {
    font-size: 3rem;
}


.main-title h1:hover {
    /* Font */
    color: #9ae2ff;
}


.main-title img.icon {
    /* Alignment */
    width: 3.7em;
    margin: -0.1em;
    text-shadow: 1px 1px #777777;
}
