/* Imported in the main.css file */

@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    /* Font */
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-color: #217a6e;

}


html {
    /* Background */
    background-color: #ff8b9e;
}
