{% load static %}

<!DOCTYPE html>
<html lang="en-GB">

<head>
    <!--Meta information-->
    <meta charset="UTF-8">
    {#    TODO: do NOT hardcode the title; instead retrieve from models definition#}
    <title>Orchid</title>

    {#    TODO: make description, keywords and title "less hardcoded"#}
    <meta name="author" content="Gabriela M Valle">
    <meta name="description" content="Artistic">
    <meta name="keywords" content="portfolio, work, art, web development, code">
    <!--/Meta information-->

    <!--Styling-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--/Styling-->

</head>


<body>

<!--Site header-->
<header id="main-title">

    <!--Title and logo-->
    {% include 'common/header.html' %}
    <!--/Title and logo-->

    <!--Navigation Menu-->
    {% include 'common/navigation.html' %}
    <!--/Navigation Menu-->

</header>
<!--/Site header-->


<main>

    <!--Dashboard-->
    <section class="dashboard">
       {% block content %}
       {% endblock %}
    </section>
    <!--/Dashboard-->

</main>
</body>
</html>
