{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--TODO: make description, keywords and title "less hardcoded"-->
    <meta name="author" content="Gabriela M Valle">
    <meta name="description" content="Portfolio">
    <meta name="keywords" content="portfolio, work, art, web development, code">

    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <title>Gallery</title>
</head>


<body>
<main>

    {% block content %}
    {% endblock %}

</main>
</body>
</html>